.projects {
  min-height: 90vh;
  background-color: var(--ocean);
  padding-top: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
  color: var(--sky);
}

.project-table {
  padding: 2vh 0 2vh 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--sky);
}

.col1 {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.proj-title {
  font-size: 4vw;
  margin: 1vh 0vh 1vh 0vh;
  padding: 0;
}

.proj-link {
  margin: 0;
  padding: 0;
  font-style: italic;
}

.proj-desc {
}

.proj-img {
  max-height: 60vh;
}

.proj-img img {
  max-height: 60vh;
  position: relative;
  float: right;
}

.proj-img img:hover {
  opacity: 80%;
}
