.projects {
  min-height: 90vh;
  background-color: var(--ocean);
  padding-top: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
  color: var(--sky);
}

.project-table {
  display: grid;
  gap: 50px;
}

.indy-title {
  grid-column-start: 1;
  border-top: 3px solid var(--border);
}

.indy-desc {
  font-size: calc(1px + 1vw);
  grid-column-start: 1;
}

.indy-link {
  border-left: 3px solid var(--border);
  border-top: 3px solid var(--border);
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
}
