/* Hides scrollbar if cursor goes off screen */
body {
  overflow-x: hidden;
}

/* Background Image for container div */
.dinocontent {
  background-image: url('./Rocks/background.jpg');
}

/* Centers content on screen */
.dinopage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Makes text readable against the background */
.dinopage h2,
.dinopage h3,
.wikilink {
  background-color: #1c1917;
  padding: 10px;
  border: 2px solid var(--sky);
  border-radius: 20px;
  color: var(--sky);
  text-align: center;
}

/* Rock animation when hovered over */
.rock:hover {
  animation: pulse 1s linear 0s 1 forwards;
}

/* Click feedback animation */
.rock:active,
.bone:active {
  transform: translateY(4px);
}

/* Positions navbar at the top of the screen, spaces out links */
.dinoNav {
  position: fixed;
  width: 90%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

/* resizes bone links */
.bone {
  height: calc(48px + 2vw);
  max-height: 80px;
}

/* Changes opacity on hover to help suggest that it's a link */
.bone:hover {
  opacity: 80%;
}

/* For the previous dinos list. Adds a nice background */
.history {
  background-image: url('./Rocks/bonebackground.png');
  background-size: 300px 300px;
  padding: 10px;
  border: 2px solid var(--sky);
  border-radius: 20px;
}

/* Formats the previous dinosaurs list */
.list {
  min-width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

/* Centers text */
.listitem {
  display: flex;
  justify-content: space-evenly;
}

/* limits the width of the description column */
.listdesc {
  max-width: 30%;
}

/* Makes text readable */
.listp {
  color: var(--sky);
  margin: 0;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}
