.dinocontent {
  background-image: url('./Rocks/background.jpg');
}

.dinopage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dinopage h2,
.dinopage h3,
.wikilink {
  background-color: #1c1917;
  padding: 10px;
  border: 2px solid var(--sky);
  border-radius: 20px;
  color: var(--sky);
}

.rock:hover {
  animation: pulse 1s linear 0s 1 forwards;
}

.rock:active,
.bone:active {
  transform: translateY(4px);
}

.dinoNav {
  position: fixed;
  width: 90%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.bone {
  height: calc(48px + 2vw);
  max-height: 80px;
}

.bone:hover {
  opacity: 80%;
}

.history {
  display: flex;
  justify-content: center;
  background-image: url('./Rocks/bonebackground.png');
  background-size: 300px 300px;
  padding: 10px;
  border: 2px solid var(--sky);
  border-radius: 20px;
  color: var(--sky);
}

.list {
  min-width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.listitem {
  display: flex;
  justify-content: space-evenly;
}

.listdesc {
  max-width: 30%;
}

.listp {
  margin: 0;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}
