.whoami {
  margin: 0;
  min-height: 100vh;
  background-color: #0c4a6e;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
  color: #f0f9ff;
}

.portrait {
  float: right;
}

.whoami p {
  font-size: calc(10px + 1vw);
}
