.App {
  margin: 0;
  padding: 0;
}

.nav {
  z-index: 10;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  margin: 0;
  background-color: #f0f9ff;
  list-style-type: none;
  overflow: hidden;
}

.nav li {
  float: right;
  opacity: 0;
  text-align: center;
}

.nav a {
  font-size: calc(5px + 1vw);
  display: block;
  min-width: 10vw;
  padding: calc(5px + 1vw);
  text-decoration: none;
  font-weight: 600;
  color: #0c4a6e;
}

.nav li:nth-child(1) {
  animation: 1s ease-out 1s 1 slideInFromSky forwards;
}
.nav li:nth-child(2) {
  animation: 1s ease-out 1.1s 1 slideInFromSky forwards;
}
.nav li:nth-child(3) {
  animation: 1s ease-out 1.2s 1 slideInFromSky forwards;
}
.nav li:nth-child(4) {
  animation: 1s ease-out 1.3s 1 slideInFromSky forwards;
}

.nav a:hover {
  background-color: #0c4a6e;
  color: #f0f9ff;
}

.nav p {
  margin: 0;
}

.nav a i {
  display: none;
}

.about:hover i {
  display: block;
  padding: 0px 2svw 0px 2svw;
  animation: pulse 2s infinite;
}

.proj:hover i {
  display: block;
  padding: 0px 2svw 0px 2svw;
  animation: buzz 2s infinite;
}

.contact:hover i {
  display: block;
  padding: 0px 2svw 0px 2svw;
  animation: spin 2s infinite;
}

.cv:hover i {
  display: block;
  padding: 0px 2svw 0px 2svw;
  animation: bounce 2s infinite;
}

.nav a:hover b {
  display: none;
}

.welcome {
  position: relative;
  min-height: 50svh;
  background-color: #f0f9ff;
  margin: 0;
  padding-left: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: left;
}

.welcome h1 {
  color: #0c4a6e;
  font-size: calc(12px + 6vw);
  margin: 0;
  animation: 1s ease-out 0s 1 slideInFromOcean;
}
.welcome p {
  margin: 0;
  font-size: calc(10px + 2vw);
  color: #0c4a6e;
  opacity: 0;
  animation: 1s ease-out 1s 1 slideInFromOcean forwards;
}

.arrow {
  position: absolute;
  top: 40vh;
  right: 50vw;
  opacity: 0;
  animation: 1s ease-out 1.8s 1 slideInFromSky forwards;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 50svh;
  background-color: #0c4a6e;
  overflow: hidden;
}
section:before,
section:after {
  content: '';
  position: absolute;
  left: 50%;
  min-width: 300vw;
  min-height: 300vw;
  background-color: #f0f9ff;
  animation: rotate linear infinite;
}
section:before {
  bottom: 15vh;
  border-radius: 45%;
  animation-duration: 10s;
}
section:after {
  bottom: 12vh;
  opacity: 0.5;
  border-radius: 47%;
  animation-duration: 10s;
}
@keyframes rotate {
  0% {
    transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    transform: translate(-50%, 0%) rotateZ(360deg);
  }
}

@keyframes slideInFromOcean {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromSky {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bounce {
  50%,
  100% {
    transform: translateY(0);
  }
  0% {
    transform: translateY(0px);
  }
  10%,
  40% {
    transform: translateY(5px);
    scale: 1.2;
  }
  20% {
    transform: translateY(-5px);
  }
}

@keyframes buzz {
  50%,
  100% {
    rotate: 0deg;
    scale: 1;
  }
  0% {
    rotate: 6deg;
  }
  10%,
  40% {
    rotate: -6deg;
    scale: 1.3;
  }
  20% {
    rotate: 6deg;
    scale: 1.15;
  }
}

@keyframes pulse {
  50%,
  100% {
    rotate: 0deg;
    scale: 1;
  }
  0% {
    scale: 1.1;
  }
  10%,
  40% {
    scale: 1.5;
  }
  20% {
    scale: 1.2;
  }
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }
  50% {
    scale: 1.5;
    rotate: 360deg;
  }
  100% {
    rotate: 360deg;
  }
}

.whoami {
  min-height: 100vh;
  background-color: #0c4a6e;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
  color: #f0f9ff;
}

.portrait {
  float: right;
}

.projects {
  min-height: 100vh;
  background-color: #0c4a6e;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
  color: #f0f9ff;
}

.contactpage {
  min-height: 100vh;
  background-color: #0c4a6e;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
  color: #f0f9ff;
}
