.foot {
  margin: 0;
  background-color: var(--ocean);
  color: var(--sky);
  padding-bottom: 2vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

.foot a {
  text-decoration: underline;
  font-weight: 2;
}

.foot p {
  font-size: initial;
  font-weight: 2;
}

.footcontainer {
  min-height: 5vh;
  border-top: 2px solid var(--sky);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
