@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;600&display=swap');

body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0c4a6e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Utility Class */
.onScreen {
  opacity: 1;
  transition: all 1.5s;
  transform: translateX(0);
}

.flexcol {
  display: flex;
  flex-direction: column;
}

.centre {
  align-items: center;
}
